@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #d4d3d3;
    background-color: ;  
    font-family: Arial, Helvetica, sans-serif;
}

section{
   /* background-image: url(imagens/pexels-victorfreitas-841130.jpg); */
    background-size: cover;
    background-repeat: no-repeat ;
}


header{
    background-color: #4F4F4F;
    min-height: 120px;
    text-align: center;
    padding-top: 15px;
}

header > h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.0em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.514);
}

header > p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    max-height: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.514);
}

nav{
    background-color: #3b3b3b;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.397);
}

nav > a{
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    transition: 0.5s;
}

nav > a:hover{
    background-color:#747272 ;
    color: #b1b0b0;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 1.4vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.541);
    background-attachment: fixed;
}


section.imagem > p{
    background-color: rgba(0, 0, 0, 0.616);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img{
    background-image: url(imagens/pexels-victorfreitas-841130.jpg);
    background-size: cover;
}

    article > h1{
        color: #7ea11c ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    }

    article > h2{
        color: #7ea11c ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    }

    article > h3{
        color: #7ea11c ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 1.3em;
    }

    article > h4{
        color: #7ea11c ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 0.5em;
    }

    article > p{
    margin: 15px 0px;
    text-align:justify ;
    text-indent: 30px;
    font-size: 1.2em;
    line-height: 1em;
    font-family: Arial, Helvetica, sans-serif;
    }

    article > ul{
        list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    }

    aside{
    background-color:#943e3e ;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.253);
    }

    aside > h1 {
    background-color: #ad3e3e;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px
    }

    aside >ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    }

    footer{
        background-color: black;
        text-align: center;
        padding: 10px;
    }
    
    footer > p{
        background-color: black;
        color: white;
    }



    

    

